

@{
    ViewBag.Title = " ket qua loc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@using TSQ.Models;

@model PagedList.PagedList<SANPHAM>


@if (int.Parse(ViewBag.x) == 1)
{
    <h3 style="text-align:center; color :white">Kết Quả loc theo gia tu thap den cao </h3>
}
else if (int.Parse(ViewBag.x) == 2)
{
    <h3 style="text-align:center;color:white">Kết Quả loc theo gia tu cao den thap </h3>
}
<div>
    @using (Html.BeginForm("Loc", "SanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <input style="text-align:center; color:white; margin-bottom:10px; background-color:#292929; border:none;width:100px" value="Loc Theo Gia" readonly />
        <select name="loc" style="border-radius:5px; min-width:200px;margin-top:10px">
            <option value="1">tu thap den cao</option>
            <option value="2">tu cao den thap</option>
        </select>
        <input type="submit" class="btn-primary btn-sm" style="padding-top:10px" value="Loc" />
        <input name="id" type="hidden" value="1" />
    }
    <br />
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-default">
                <div class="panel panel-heading" style="background:#292929;color:white">
                    @item.TenSP
                </div>
                <div class="panel-body" style="height:330px">


                    <p style="text-align:center">
                        <a href=@Url.Action("Detail","SanPham",new { id= item.MaSP})><img src="~/img/@item.img" alt="hinh thumnail" width="200" /></a>
                    </p>
                    <p style="text-align:center; color:#C4302B; font-size:28px">
                        Giá: <strong>@String.Format("{0:0,0}", item.GiaSP)</strong><strong> VNĐ</strong>
                    </p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <a href=@Url.Action("ThemGioHang","GioHang", new { iMaSP= @item.MaSP, strURL= Url.Action("Search", "Home", new { search = ViewBag.x , page= Model.PageNumber}) }) class="btn btn-primary">Thêm vào giỏ hàng</a>
                        @Html.ActionLink("Chi Tiết", "Detail", "SanPham", new { id = @item.MaSP }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<span style="color:white">trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Loc", "SanPham", new { page = page, loc = ViewBag.x, id= ViewBag.id }));
</div>

